body {
    touch-action: manipulation;
    margin: 0;
    background-color: rgb(255, 0, 255);
    overflow: hidden;
}
canvas {
    touch-action: manipulation;
    background-color: grey;
    width: 100%;
    height: 100%;
}